@model dynamic

@{
    ViewBag.Title = "Sem Destinos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sem Destinos</h2>

<div id="about">
    
    <h1>Sobre</h1>
</div>


<div id="contact">
    <h1>Contato</h1>
</div>